{% extends 'core/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <h2 class="d-flex justify-content-center mt-2">Sign up</h2>

    <div class="d-flex justify-content-center mt-5">
        <form method="post" class="row g-3 border p-2" style="width: 32rem;">
            {% csrf_token %}
            <div class="col-md-6">
                {% if form.errors %}
                    <label class="form-label">Username</label>
                    <div class="input-group"><input class="form-control" placeholder="Alex" name="username"></div>
                    <p>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                {% else %}
                    <label class="form-label">Username</label>
                    <div class="input-group"><input class="form-control" placeholder="Dima228" name="username"></div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if form.errors %}
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password1">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                {% else %}
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password1">
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if form.errors %}
                    <label class="form-label">Password confirmation</label>
                    <input type="password" class="form-control" name="password2">
                    <p>Enter the same password as before, for verification.</p>
                {% else %}
                    <label class="form-label">Password confirmation</label>
                    <input type="password" class="form-control" name="password2">
                {% endif %}
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-dark" type="submit">Sign Up</button>
            </div>
        </form>

    </div>


{% endblock content %}
