{% extends "core/base.html" %}
{% load humanize %}

{% block title %}
    Список записок
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-5">
        <h1 class="d-flex justify-content-center">Ваши заметки!</h1>
        {% for note in notes %}
            <div class="card mt-3" style="width: 40rem;">
                <div class="card-header">
                    Автор: {{ note.author }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <hr>
                    <p class="card-text">{{ note.content }}</p>
                    <hr>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Изменить
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'edit_notes' note.id %}">Редактировать</a></li>
                            <li><a class="dropdown-item" href="{% url 'delete_notes' note.id %}">Удалить</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    {{ note.created_at|naturaltime }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}